.bolder {
  font-weight: 700;
}

.brand-logo {
  margin-left: .7em;
}

.modal .box {
  padding: 36px;
}

.modal .box .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
}

.modal .box iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal .box h2, .modal .box h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.modal .box h1 {
  font-size: 330%;
  white-space: nowrap;
}

.modal .box h2 {
  font-size: 200%;
}


/* SVG styles */

#info {
  opacity: .25;
}



.dashed {
  

  stroke-dasharray: 6 4;
  stroke-width: 1;
}

.lecture {
  
  stroke: #000000;
  stroke-width: 2;
}



line, circle, rect {
  stroke-width: 2;
}

.enabled, .enabled .lecture {
  fill: #ffffff;
  stroke: #000000;
  
}

.enabled .lecture, .enabled .video, .enabled .exercise {
  transform-box: fill-box;
  transform-origin: center center;
  animation: shortpulse .4s cubic-bezier(.67,.47,.33,1.46) 1;
}

@keyframes shortpulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(.8);
  }
  
  100% {
    transform: scale(1);
  }
}

.disabled, .disabled .lecture {
  fill: #bfbfbf;
  stroke: #7f7f7f;
}

.completed, .completed .lecture {
  fill: #4caf50 ;
}


.active, .active .lecture {
  fill: #fbb03b;
  stroke: #000000;
  stroke-width: 4;
} 


/* TODO: make line disabled dashed */

text {
  font-family: "Montserrat", sans-serif;
  stroke: none;
  fill: black;
}

.description {
  font-size: 14px;
}

.subdescription {
  font-size: 10px;
}
