.bolder {
  font-weight: 700;
}

.wide {
  min-width: 85%;
}

.plus {
  display: inline-block;

  font-weight: bold;
  font-size: 0.8rem;
  color: #fff;

  margin-left: 0.1em;
  border-radius: 50%;
  background-color: #26a69a;

  line-height: 1.5em;
  width: 1.5em;
  text-align: center;
}

.brand-logo {
  margin-left: 0.7em;
}

nav .last-admin {
  border-right: 1px solid #ac4549;
}

.modal .box {
  padding: 36px;
}

.modal .box .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
}

.modal .box iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal .box h2,
.modal .box h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.modal .box h1 {
  font-size: 330%;
  white-space: nowrap;
}

.modal .box h2 {
  font-size: 200%;
}

/* Progress table - same for single user and all users */ 

.progresstable {
  margin-top: 9em;
}

.progresstable th {
  min-width: 1em;
  white-space: nowrap;
}

.progresstable .text {
  position: absolute;
  font-size: 90%;
  font-weight: 400;
  transform-origin: bottom left;
  transform: rotate(-50deg) translate(.5em,1em);
}

.progresstable td {
  min-width: 2em;
}


.progresstable .missing {
  filter: grayscale(95%) brightness(120%);
  color: #888;
}

/* SVG styles */

#info {
  opacity: 0.25;
}

.dashed {
  stroke-dasharray: 6 4;
  stroke-width: 1;
}

.lecture {
  stroke: #000000;
  stroke-width: 2;
}

line,
circle,
rect {
  stroke-width: 2;
}

.enabled,
.enabled .lecture {
  fill: #ffffff;
  stroke: #000000;
}

.enabled .lecture,
.enabled .video,
.enabled .exercise {
  transform-box: fill-box;
  transform-origin: center center;
  animation: shortpulse 0.4s cubic-bezier(0.67, 0.47, 0.33, 1.46) 1;
}

@keyframes shortpulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.disabled,
.disabled .lecture {
  fill: #bfbfbf;
  stroke: #7f7f7f;
}

.completed,
.completed .lecture {
  fill: #4caf50;
}

.active,
.active .lecture {
  fill: #fbb03b;
  stroke: #000000;
  stroke-width: 4;
}

.optional {
  stroke: #7171e4;
  stroke-width: 1;
}

/* TODO: make line disabled dashed */

text {
  font-family: "Montserrat", sans-serif;
  stroke: none;
  fill: black;
}

.description {
  font-size: 14px;
}

.subdescription {
  font-size: 10px;
}

/* exercise */

.exercise-description {
  border: 1px solid #aaa;
  padding: 2em;
  background-color: #eee;

  font: normal 16px / 1.5em "Open Sans", Helvetica, Arial, sans-serif;
  color: #333;
}

.exercise-description h1 {
  font-weight: normal;
  font-size: 1.6em;
  margin-bottom: 0.2em;
}
.exercise-description h1.subdescription {
  margin-top: 0;
  font-size: 1.4em;
  margin-bottom: 0.8em;
}

.exercise-description h2 {
  font-weight: normal;
  color: #6b546a;
  font-size: 16px;
  font-weight: 900;
  margin: 0;
}

.exercise-description h3 {
  color: #565656;
  font-weight: bold;
  font-size: 100%;
  margin: 0.5em 0 0.5em 0;
}

.exercise-description p {
  margin: 0 0 0.5em 0;
  font-size: 1em;
  line-height: 1.5em;
  max-width: 80ch;
}

.exercise-description li {
  max-width: 80ch;
}
